{% extends 'base.html' %}

{% block 'conteudo' %}

<div class="container">
    <br>
    {% if status_categoria == '1' %}
    <div class="alert alert-success" role="alert">
        Categoria cadastrada com sucesso.
    </div>
    {% endif %}

    <div class="row">

        {% for livro in livros %}

            <div class="col-md">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <img style="width: 100%;" src="{{livro.img.url}}">
                        <br><br>
                        <h5 class="card-title">{{livro.nome}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{livro.autor}}</h6>                      
                        <p class="card-text">Gênero: {{livro.categoria}}</p>                        
                        <h6 style="display: inline;" class="card-subtitle mb-2 text-muted">Emprestado</h6>


                        {% if livro.emprestado %}
                            <svg style="color: greenyellow; display: inline"  xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                            </svg>
                        {% else %}
                            <svg style="color: red; display: inline" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                            </svg>
                        {% endif %}
                        <br>
                        <br>
                        <a href="{% url 'ver_livros' livro.id %}" class="btn btn-info">Acessar</a>

                    </div>
                </div>
            </div>        
        {% endfor %}
        
        
    </div>
</div>
{% endblock %}